---
// Shared footer
---

<footer class="site-footer">
  <div class="site-footer__left">
    <span>PH-TOOLS</span>
    <span>·</span>
    <a href="https://www.bldgtyp.com">bldgtyp, LLC</a>
    <span>·</span>
    <a href="https://github.com/PH-Tools">GitHub</a>
    <span>·</span>
    <a href="https://github.com/PH-Tools/ph-docs/blob/main/LICENSE">GPL-3.0 License</a>
  </div>
  <div class="site-footer__right">
    <span>docs.passivehousetools.com</span>
    <span class="version-badge">v 2026.1.0</span>
  </div>
</footer>
